<a href="https://colab.research.google.com/github/JiahuaZhang/machine-learning-trading/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime
from dateutil import relativedelta

%matplotlib inline

In [40]:
matplotlib.rcParams['figure.figsize'] = (15, 13)

In [41]:
def get_time_preset(time_preset):
  """Get time range for preset
  time_preset -- number + date range format
  e.g. 1d for 1 day, 2mo for 2 months, 3yr for 3years
  """
  now = datetime.today()

  if 'd' in time_preset:
    days = int(time_preset.replace('d', ''))
    start = now + relativedelta.relativedelta(days=-days)
    return start.timestamp(), now.timestamp()
  elif 'mo' in time_preset:
    months = int(time_preset.replace('mo', ''))
    start = now + relativedelta.relativedelta(months=-months)
  elif 'yr' in time_preset:
    years = int(time_preset.replace('yr', ''))
    start = now + relativedelta.relativedelta(years=-years)

  return start.timestamp(), now.timestamp()

In [42]:
def build_yahoo_finance_url(symbol, time_preset='3mo', interval='daily', events='history', start=None, end=None, includeAdjustedClose=True):
  """build yahoo finance url
  Keyword arguments:
  symbol: stock symbol, e.g. AAPL, SPY
  time_preset: time ranges by preset, e.g. 1d for 1 day, 2mo for 2 months, 3yr for 3 years.
    it would ignore start, end if this is not None
  interval: get stock frequency, e.g. daily, weekly, monthly
  events: history | div, historic stock price or dividend
  start, end: start or end date in milliseconds format
  includeAdjustedClose: boolean
  """
  api = 'https://query1.finance.yahoo.com/v7/finance/download'

  if start and end:
    if type(start) == float or type(start) == int:
      period1, period2 = start, end
    else:
      period1 = datetime.strptime(start, '%Y-%m-%d').timestamp()
      period2 = datetime.strptime(end, '%Y-%m-%d').timestamp()
  else:
    period1, period2 = get_time_preset(time_preset=time_preset)

  interval = {'daily': '1d', 'weekly': '1wk', 'monthly': '1mo'}[interval]

  return '{}/{}?period1={}&period2={}&interval={}&events={}&includeAdjustedClose={}'.format(api, symbol, int(period1), int(period2), interval, events, includeAdjustedClose)

In [43]:
def rolling_analysis(series, window=20, nstd=2, plot=True):
  rolling = series.rolling(window=window)
  mean = rolling.mean()
  upper_bound = mean + nstd * rolling.std()
  lower_bound = mean - nstd * rolling.std()
  
  mean.name = '{} rolling mean'.format(mean.name)
  upper_bound.name = '{} upper bound'.format(mean.name)
  lower_bound.name = '{} lower bound'.format(mean.name)

  if plot:
    pd.concat([series, mean, upper_bound, lower_bound], axis=1).plot()
    plt.show()

  return mean, lower_bound, upper_bound

In [44]:
def rolling_trade(series, lower, upper):
  buy = series[lower > series]
  sell = series[series > upper]

  trades = []
  while True:
    if buy.size == 0:
      break

    current_trade = {}
    current_buy_time = buy.index[0]
    current_buy_price = buy[current_buy_time]
    current_trade['buy'] = {
        'time': current_buy_time,
        'price': current_buy_price
    }

    sell = sell[sell.index > current_buy_time]
    sell = sell[sell > current_buy_price]
    if sell.size == 0:
      trades.append(current_trade)
      break

    current_sell_time = sell.index[0]
    current_sell_price = sell[current_sell_time]
    current_trade['sell'] = {
        'time': current_sell_time,
        'price': current_sell_price
    }
    current_trade['change'] = {
        'time': current_sell_time - current_buy_time,
        'price': current_sell_price - current_buy_price
    }
    trades.append(current_trade)

    buy = buy[buy.index > current_sell_time]
  return trades

In [110]:
def get_price_earning_ratio(symbol='', time_preset='5yr', **kwargs):
  price_url = build_yahoo_finance_url(symbol=symbol, time_preset=time_preset, **kwargs)
  dividend_url = build_yahoo_finance_url(symbol=symbol, events='div', time_preset=time_preset, **kwargs)

  price = pd.read_csv(price_url, index_col='Date', parse_dates=True)
  div = pd.read_csv(dividend_url, index_col='Date', parse_dates=True)

  analysis = div.join(price.Close[div.index])
  analysis['PER'] = analysis.Close / analysis.Dividends / 4
  analysis['Divident Yield %'] = 1 / analysis.PER * 100
  return analysis.sort_index(ascending=False)

In [45]:
# AAPL
# symbol = 'SPY'
# url = build_yahoo_finance_url(symbol=symbol)
# stock = pd.read_csv(url, index_col='Date', parse_dates=True)

In [46]:
# adjust_close = stock['Adj Close']

In [47]:
# mean, lower, upper = rolling_analysis(adjust_close)

In [48]:
# rolling_trade(adjust_close, lower, upper)

In [49]:
# for window in [7, 14, 21, 28]:
#   print('For {} window size:'.format(window))
#   mean, lower, upper = rolling_analysis(adjust_close, window=window)
#   for trade in rolling_trade(adjust_close, lower, upper):
#     for key in ['buy', 'sell', 'change']:
#       if (key in trade):
#         print('{} - {}'.format(key, trade[key]))
#   print()

In [111]:
get_price_earning_ratio('ko')

            Dividends      Close        PER  Divident Yield %
Date
2021-03-12       0.42  50.360001  29.976191          3.335981
2020-11-30       0.41  51.599998  31.463413          3.178295
2020-09-14       0.41  50.709999  30.920731          3.234076
2020-06-12       0.41  45.599998  27.804877          3.596491
2020-03-13       0.41  48.470001  29.554879          3.383536
2019-11-29       0.40  53.400002  33.375001          2.996255
2019-09-13       0.40  54.259998  33.912499          2.948765
2019-06-13       0.40  51.130001  31.956251          3.129278
2019-03-14       0.40  45.700001  28.562501          3.501094
2018-11-29       0.39  48.980000  31.397436          3.184973
2018-09-13       0.39  45.830002  29.378206          3.403884
2018-06-14       0.39  43.580002  27.935899          3.579624
2018-03-14       0.39  43.779999  28.064102          3.563271
2017-11-30       0.37  45.770000  30.925676          3.233559
2017-09-14       0.37  46.110001  31.155406          3.209716
2017-06-13       0.37  45.029999  30.425675          3.286698
2017-03-13       0.37  42.029999  28.398648          3.521294
2016-11-29       0.35  41.150002  29.392859          3.402187
2016-09-13       0.35  42.279999  30.199999          3.311258
2016-06-13       0.35  45.119999  32.228571          3.102837

In [112]:
get_price_earning_ratio('AAPL')

            Dividends       Close         PER  Divident Yield %
Date
2021-05-07     0.2200  130.210007  147.965917          0.675831
2021-02-05     0.2050  136.759995  166.780482          0.599591
2020-11-06     0.2050  118.690002  144.743905          0.690875
2020-08-07     0.2050  111.112503  135.503052          0.737991
2020-05-08     0.2050   77.532501   94.551830          1.057621
2020-02-07     0.1925   80.007500  103.905844          0.962410
2019-11-07     0.1925   64.857498   84.230517          1.187218
2019-08-09     0.1925   50.247501   65.256495          1.532415
2019-05-10     0.1925   49.294998   64.019478          1.562025
2019-02-08     0.1825   42.602501   58.359590          1.713514
2018-11-08     0.1825   52.122501   71.400686          1.400547
2018-08-10     0.1825   51.882500   71.071918          1.407025
2018-05-11     0.1825   47.147499   64.585615          1.548332
2018-02-09     0.1575   39.102501   62.067462          1.611150
2017-11-10     0.1575   43.667500   69.313492          1.442721
2017-08-10     0.1575   38.830002   61.634924          1.622457
2017-05-11     0.1575   38.487499   61.091268          1.636895
2017-02-09     0.1425   33.105000   58.078947          1.721794
2016-11-03     0.1425   27.457500   48.171053          2.075936
2016-08-04     0.1425   26.467501   46.434212          2.153585

In [113]:
get_price_earning_ratio('uvv')

            Dividends      Close        PER  Divident Yield %
Date
2021-04-09       0.77  57.639999  18.714285          5.343512
2021-01-08       0.77  52.250000  16.964286          5.894737
2020-10-08       0.77  43.490002  14.120131          7.082088
2020-07-10       0.77  41.209999  13.379870          7.473914
2020-04-09       0.76  46.669998  15.351973          6.513821
2020-01-10       0.76  56.070000  18.444079          5.421794
2019-10-04       0.76  53.720001  17.671053          5.658972
2019-07-05       0.76  61.330002  20.174343          4.956791
2019-04-05       0.75  57.680000  19.226667          5.201110
2019-01-04       0.75  55.080002  18.360001          5.446623
2018-10-05       0.75  64.320000  21.440000          4.664179
2018-07-06       0.75  69.599998  23.199999          4.310345
2018-04-06       0.55  49.650002  22.568183          4.431017
2018-01-05       0.55  52.099998  23.681817          4.222649
2017-10-06       0.54  55.799999  25.833333          3.870968
2017-07-06       0.54  62.849998  29.097221          3.436754
2017-04-06       0.54  70.150002  32.476853          3.079116
2017-01-05       0.54  63.849998  29.560184          3.382929
2016-10-06       0.53  56.959999  26.867924          3.721910
2016-07-07       0.53  57.250000  27.004717          3.703057