<a href="https://colab.research.google.com/github/JiahuaZhang/machine-learning-trading/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
spy_stock = pd.read_csv('./SPY.csv')

In [5]:
spy_stock

           Date        Open        High  ...       Close   Adj Close     Volume
0    2020-04-24  280.730011  283.700012  ...  282.970001  278.503754   85166000
1    2020-04-27  285.119995  288.269989  ...  287.049988  282.519348   77896600
2    2020-04-28  291.019989  291.399994  ...  285.730011  281.220184  105270000
3    2020-04-29  291.529999  294.880005  ...  293.209991  288.582092  118745600
4    2020-04-30  291.709991  293.320007  ...  290.480011  285.895233  122901700
..          ...         ...         ...  ...         ...         ...        ...
247  2021-04-19  416.260010  416.739990  ...  415.209991  415.209991   78299000
248  2021-04-20  413.910004  415.089996  ...  412.170013  412.170013   81768200
249  2021-04-21  411.510010  416.290009  ...  416.070007  416.070007   66793000
250  2021-04-22  415.890015  416.779999  ...  412.269989  412.269989   97582800
251  2021-04-23  412.869995  418.250000  ...  416.739990  416.739990   73209200

[252 rows x 7 columns]

In [6]:
print('hi')

hi